.optionButton {
    background-color: var(--button-bg);
    border: none;
    color: var(--button-text);
    padding: 10px 15px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.optionButton:hover {
    background-color: var(--highlight);
    color: var(--night);
}