
.loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    height: 100vh;
}

.loginFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.loginTitle {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text);
    margin-bottom: 0.5rem;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: 0.8rem;
    padding: 24px;  
    border-radius: 8px;
}

.loginForm input {
    width: 100%;
    padding: 12px;
    border: 3px solid var(--foreground);
    border-radius: 4px;
    font-size: 1rem;
}

.loginForm button {
    width: 100%;
    padding: 12px;
    background-color: var(--highlight);
    color: var(--dark-green);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loginForm button:hover {
    background-color: var(--aquamarine);
}

.forgotPassword {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: var(--foreground);
    transition: text-decoration 0.3s ease;
}

.forgotPassword a:hover:focus {
    text-decoration: underline;
    color: var(--highlight);
}

.register {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: var(--foreground);
}

.register a {
    color: var(--highlight);
    transition: text-decoration 0.3s ease;
}

.register a:hover:focus {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .loginForm {
        width: 100%;
    }
    
    .loginForm input,
    .loginForm button {
        font-size: 1rem;
    }
    
    .forgotPassword,
    .register {
        font-size: 1rem;
    }
}
