version: "3.9"

services:
  backend:
    build:
      context: ./backend
      args:
        JWT_SECRET: ${JWT_SECRET}
    container_name: backend-test
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - VIRTUAL_HOST=api.budgment.nintech.engineer
    expose:
      - "8080"
    networks:
      - proxy
      - internal
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    container_name: frontend-test
    environment:
      - VIRTUAL_HOST=budgment.nintech.engineer
      - NEXT_PUBLIC_API_URL=http://api.budgment.nintech.engineer
    expose:
      - "3000"
    networks:
      - proxy
      - internal
    restart: unless-stopped

networks:
  proxy:
    external: true
  internal:
    driver: bridge
