:root {
  
  --dark-green: #002b24ff;
  --castleton-green: #0b5d44ff;
  --pine-green: #01796fff;
  --jungle-green: #2aa679ff;
  --aquamarine: #8ee5c1ff;
  --mint-cream: #f3fff9ff;
  --night: #0d1111ff;
  --orange-peel: #ffa114ff;
  --falu-red: #7a1613ff;

  --background: var(--aquamarine);
  --foreground: var(--night);

  /* Roles semánticos sugeridos */
  --bg: var(--mint-cream);
  --surface: #e9fff5;        /* ligera variación si quieres */  
  --text: var(--night);

  --primary: var(--pine-green);
  --primary-contrast: #ffffff;

  --secondary: var(--jungle-green);
  --secondary-contrast: var(--night);

  --accent: var(--orange-peel);
  --accent-contrast: var(--night);

  --success-surface: var(--aquamarine);
  --danger: var(--falu-red);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-green);
    --foreground: var(--mint-cream);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
