:root {
  
  --dark-green: #002b24ff;
  --castleton-green: #0b5d44ff;
  --pine-green: #01796fff;
  --jungle-green: #2aa679ff;
  --aquamarine: #8ee5c1ff;
  --mint-cream: #f3fff9ff;
  --night: #0d1111ff;
  --orange-peel: #ffa114ff;
  --falu-red: #7a1613ff;  

  --bg: var(--dark-green);
  --surface: var(--mint-cream);
  --text: var(--night);
  --foreground: var(--mint-cream);
  --acction-bar: var(--pine-green);
  --options-bar: var(--pine-green);
  --highlight: var(--orange-peel);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--castleton-green);
    --surface: var(--dark-green);
    --acction-bar: var(--dark-green);
    --options-bar: var(--castleton-green);
    --text: var(--mint-cream);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
